* {
   margin: 0;
   padding: 0;
}

h2 {
   margin: 15px 0;
}

html {
   font-size: 16px;
   font-family: "Prompt", sans-serif;
   font-weight: 400;
   font-style: normal;
}

body {
   background-color: #dfdfdf;
   margin: 10px 10px 0;
}

header {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   align-content: center;
   flex-wrap: wrap;
   height: 90vh;
   column-gap: 40px;
   row-gap: 40px;
   text-align: center;
}

header #face {
   width: 300px;
   height: 300px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   border: 15px solid #fff;
   cursor: pointer;
}

header #face img {
   width: 115%;
}

header #header-menu {
   display: flex;
   flex-direction: column;
   align-items: center;   
}

header #header-menu #page-name {
   font-family: "Yantramanav", sans-serif;
   font-weight: 700;
   font-style: normal;
}

header #header-menu #page-descr {
   font-style: italic;
   margin: 15px 0 35px;
}

header #header-menu nav ul {
   display: flex;
   flex-wrap: wrap;
   column-gap: 30px;
   row-gap: 20px;
   justify-content: center;
}

header #header-menu nav ul li {
   list-style-type: none;
}

header #header-menu nav ul li a {
   text-decoration: none;
   color: #0000FF;
   display: flex;
   flex-direction: column;
   align-items: center;      
   padding: 5px;
   border-radius: 5px;
}

header #header-menu nav ul li a:hover {
   color: #474747;
   cursor: pointer;
   box-shadow: 0 0 5px 5px #474747;   
}

header #header-menu nav ul li a ion-icon {
   font-size: 3rem;
   font-weight: 700;   
}

header #header-menu nav ul li a span {
   font-size: 0.9rem;
}

@media only screen and (max-width: 864px) {
   header {
      flex-direction: column;
   }

   header #face {
      width: 200px;
      height: 200px;
   }
}

@media only screen and (max-width: 360px) {
   header #face {
      width: 100%;
      height: auto;
   }
}

main {
   display: none;
   margin: 40px auto;
   max-width: 1280px;
   background-color: #fff;
   border-radius: 20px 20px 0 0;
   padding: 20px 20px 20px;
   box-shadow: 0 0 5px 5px #a7a7a7;
}

main ul {
   margin-left: 40px;
}

#resume {
   display: none;
}

#projects {
   display: none;
   overflow: auto;
}

#projects .grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(180px, 400px));
   grid-template-rows: auto;
   grid-gap: 20px;     
}

#projects .grid-container .item {
   border: 1px solid #47474733;
   padding: 20px;
   border-radius: 10px;
   display: flex;   
   flex-direction: column;
   justify-content: space-between;      
}

#projects .grid-container .item:hover {
   box-shadow: 0 0 5px 5px #a7a7a733;
}

#projects .grid-container .item img:first-child {
   max-width: 100%;
   max-height: 176.2px;
   margin: auto;
}

#projects .grid-container .item p:first-of-type {
   margin: 20px 0 10px;
}

#blog {
   display: none;
}

#contacts {
   display: none;
}

#contacts .form {
   margin: 40px auto 0;
   width: 50%;
}

#contacts form {
   display: flex;
   flex-direction: column;
}

#contacts form input, #contacts form textarea {
   font-size: 1rem;
   padding: 5px;
   margin-bottom: 10px;
}

#contacts form span {
   font-style: italic;
   margin-top: -10px;
   font-size: 0.9rem;
   color: #777;
}

#contacts form #submit {
   width: 50%;
   margin: 20px auto;
   padding: 20px 0;
   border-radius: 10px;
   border: 1px solid #000;
}

#contacts form #submit:hover {
   cursor: pointer;
   box-shadow: 0 0 5px 5px #474747; 
   font-weight: 700;
}

#contacts form #submit:active {
   cursor: pointer;
   box-shadow: 0 0 5px 5px #0000FF; 
   font-weight: 700;
}

@media only screen and (max-width: 864px) {
   #contacts .form, #contacts form #submit {
      width: 75%;
   }
}

@media only screen and (max-width: 360px) {
   #contacts .form, #contacts form #submit {
      width: 95%;
   }
}